.para {
  white-space: normal !important;
  font-size: 16px;
  word-spacing: 2px; /* Adjust the value as needed */

  color: #000;
  line-height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.span {
  @apply text-lg font-semibold underline mr-2;
}

.ul {
    @apply list-disc ml-5;
}

.li {
    @apply mb-2;
}

.link {
  @apply border-b border-indigo-500 hover:border-none hover:transition-all text-indigo-500;
}

.code {
    @apply bg-slate-600 text-white border border-solid p-3 w-full my-3 rounded-md;
}

.btn {
    @apply bg-indigo-600 py-2 px-4 rounded-md text-white;
}